header {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("/imgs/shannons-inside.jpg");
}

#our-loc {
    text-align: center;
    padding: 50px;
}

#our-story {
    background-color: #E5E4D7;
}

#our-history {
    background-color: #005502;
    color: white;
}

#logo-header {
    text-align: center;
}
#logo-header > img{
    width: 50%;
}