#panes {
    padding: 0;
}
.tab-content {
    display: none;
    background-color: #f7f6f3;
}

.tabs.active {
    background-color: #f7f6f3;
}

#tabs-bar {
    padding: 0;
}
ul {
    list-style-type: none;
}
ul li {
    background-color: #E5E4D7;
    padding: 10px;
    float: left;
}
ul li:hover {
    text-decoration: none;
    background-color: #f7f6f3;
}
ul li h4 {
    color: black;
}
ul li a:hover {
    text-decoration: none;
}